@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  /* Light theme colors */
  --color-accent-foreground: oklch(0.09 0.03 286);
  --color-accent: oklch(0.96 0.01 246);
  --color-background: oklch(1 0 0);
  --color-border: oklch(0.92 0.02 247);
  --color-card-foreground: oklch(0.09 0.03 286);
  --color-card: oklch(1 0 0);
  --color-chart-1: oklch(0.67 0.15 38);
  --color-chart-2: oklch(0.58 0.12 200);
  --color-chart-3: oklch(0.42 0.08 213);
  --color-chart-4: oklch(0.74 0.15 83);
  --color-chart-5: oklch(0.73 0.18 52);
  --color-destructive-foreground: oklch(0.98 0.01 246);
  --color-destructive: oklch(0.65 0.19 28);
  --color-foreground: oklch(0.09 0.03 286);
  --color-input: oklch(0.92 0.02 247);
  --color-muted-foreground: oklch(0.52 0.02 252);
  --color-muted: oklch(0.96 0.01 246);
  --color-popover-foreground: oklch(0.09 0.03 286);
  --color-popover: oklch(1 0 0);
  --color-primary-foreground: oklch(0.98 0.01 246);
  --color-primary: oklch(0.61 0.18 262);
  --color-ring: oklch(0.61 0.18 262);
  --color-secondary-foreground: oklch(0.09 0.03 286);
  --color-secondary: oklch(0.96 0.01 246);
  --color-success-foreground: oklch(0.09 0.03 286);
  --color-success: oklch(0.5 0.1 167.71);

  /* Dark theme colors */
  --color-accent-foreground--dark: oklch(0.98 0.01 246);
  --color-accent--dark: oklch(0.24 0.02 261);
  --color-background--dark: oklch(0.09 0.03 286);
  --color-border--dark: oklch(0.24 0.02 261);
  --color-card-foreground--dark: oklch(0.98 0.01 246);
  --color-card--dark: oklch(0.09 0.03 286);
  --color-chart-1--dark: oklch(0.58 0.15 262);
  --color-chart-2--dark: oklch(0.58 0.12 178);
  --color-chart-3--dark: oklch(0.68 0.15 78);
  --color-chart-4--dark: oklch(0.71 0.15 302);
  --color-chart-5--dark: oklch(0.69 0.18 358);
  --color-destructive-foreground--dark: oklch(0.98 0.01 246);
  --color-destructive--dark: oklch(0.45 0.15 28);
  --color-foreground--dark: oklch(0.98 0.01 246);
  --color-input--dark: oklch(0.24 0.02 261);
  --color-muted-foreground--dark: oklch(0.68 0.02 252);
  --color-muted--dark: oklch(0.24 0.02 261);
  --color-popover-foreground--dark: oklch(0.98 0.01 246);
  --color-popover--dark: oklch(0.09 0.03 286);
  --color-primary-foreground--dark: oklch(0.09 0.03 286);
  --color-primary--dark: oklch(0.69 0.18 255);
  --color-ring--dark: oklch(0.61 0.18 262);
  --color-secondary-foreground--dark: oklch(0.98 0.01 246);
  --color-secondary--dark: oklch(0.24 0.02 261);

  /* Radius */
  --radius: 0.3rem;
}
